.FiltersContainer {
  select {
    width: 150px;
    height: 30px;
    background-color: #eba417;
    border-radius: 5px;
    border: 0;
    margin: 20px 0 0 40px;
    font-weight: bold;
    padding: 4px;
  }
}

.TasksContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
  margin-top: 50px;
  padding: 0 40px;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 720px) {
    grid-template-columns: 1fr;
  }
}
